.transferView{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    //background-color: #f1f2f7;
}

.transferHeaderView{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.accountActivateView{
    position: absolute;
    top:0px;
    height: 30px;
    left: 0%;
    width: 100%;
    color: #ffffff;
}

.fundTransferTxt{
    position: absolute;
    top:15px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.fundTransferDetail{
    position: absolute;
    top:60px;
    left: 15%;
    width: 70%;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

.transferBody{
    position: absolute;
    top:140px;
    left: 15%;
    right: 15%;
    height: 502px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 1px #aaaaaa;
    margin-bottom: 10px;
}

.transferContentHeader {
    position: relative;
    top:0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #f1f2f7;
}

.transferContentBody {
    position: relative;
    top:50;
    right: 0;
    left: 0;
    height: 350px;
}

.contentfundTransferTxt{
    position: absolute;
    top:1px;
    left: 20px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.contentfundTransferBtn{
    position: absolute;
    top:9px;
    right: 20px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    background-color: #3CD5A8;
    cursor: pointer;
    height: 32px;
    width: 100px;
    border-color: transparent;
}

.amountTransferTxt{
    position: absolute;
    top:4px;
    left: 328px;
    font-size: 11px;
    color: #000000;
}

.transferAccountNumber{
    position: absolute;
    top: 32px;
    left: 328px;
    height: 28px;
    width: 180px;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 14px;
    color: #000000;
    border: solid 1px #e7e7e7;
}

.transferSelect{
    position: absolute;
    top: 32px;
    left: 220px;
    height: 30px;
    width: 100px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    //cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.selectPayeeTxt{
    position: absolute;
    top:4px;
    left: 20px;
    font-size: 11px;
    color: #000000;
}

.payeeSelect{
    position: absolute;
    top: 32px;
    left: 20px;
    height: 30px;
    width: 180px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    cursor: pointer;
}

.transferDescTxt{
    position: absolute;
    top:62px;
    left: 20px;
    font-size: 11px;
    color: #000000;
}

.transferDesc{
    position: absolute;
    top: 90px;
    left: 20px;
    height: 28px;
    width: 180px;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 14px;
    color: #000000;
    border: solid 1px #e7e7e7;
}

.bankTransferType{
    position: absolute;
    top: 135px;
    left: 20px;
    height: 40px;
    width: 160px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    cursor: pointer;
}

.masterCardTransferType{
    position: absolute;
    top: 135px;
    left: 190px;
    height: 40px;
    width: 160px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    //cursor: pointer;
}

.accountTransferType{
    position: absolute;
    top: 190px;
    left: 20px;
    height: 40px;
    width: 160px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    //cursor: pointer;
}

.debcredTransferType{
    position: absolute;
    top: 190px;
    left: 190px;
    height: 40px;
    width: 160px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    //cursor: pointer;
}

.radioType{
    position: absolute;
    top: 12px;
    left: 8px;
    height: 10px;
    width: 10px;
}

.iconType{
    position: absolute;
    top: 10px;
    left: 25px;
    height: 20px;
    //width: 20px;
}

.nameType{
    position: absolute;
    top: 0px;
    left: 55px;
    font-size: 10px;
}

.processTimeType{
    position: absolute;
    top: 14px;
    left: 55px;
    font-size: 8px;
    color: #3CD5A8;
}

.continuefundTransferBtn{
    position: absolute;
    top: 190px;
    left: 360px;
    height: 40px;
    width: 170px;
    color: #ffffff;
    background-color: #3169D7;
    border-radius: 6px;
    border-color: transparent;
    cursor: pointer;
    
}

.loader {
    position: absolute;
    top: 190px;
    left: 420px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .transferRepresent{
    position: absolute;
    top: 65px;
    right: 4%;
    height: 188px;
  }

.transferListTable{
    position: absolute;
    top: 250px;
    left: 0%;
    right: 0%;
    width: 100%;
    max-height: 160px;
    font-size: 12px;
}

.transferListTable>thead {
    background-color: #6CD7D4;
}

thead > tr, tbody > tr {
    height: 36px;
    display: table;
    width: 100%;
    table-layout: fixed;
    //border: 3px solid #e7e7e7;
    //border-collapse: collapse;
}

table, tr{
    border: 3px solid #e7e7e7;
    border-collapse: collapse;
}

td > img {
    position: relative; top: 2px;left: 10px;
    height: 20px;
    width: 20px;
}

tbody{
    display: block;
    max-height: 160px;
    overflow-y: scroll;
  }

  .transferListTable::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .transferListTable, tbody {
    -ms-overflow-style: none;
  }

  tbody::-webkit-scrollbar {
    display: none;
  }
